.content{
    font-family: "Bodoni MT Poster Compressed";
    background-color: #3a3737;
    color: #ffffff;
    font-size: 30px;
    position: center;
    display: flex;
    flex-flow: column;
    margin-left: 10%;
}
.main_content{
    margin-top: 50px;
    margin-left: 15px;
    padding-top: 20px;
    margin-bottom: 40px;
}
.header_content{
    position: fixed;
    left: 0;
    top: 0;
    height: 20px;
    padding-bottom: 10px;
    background-color:#3a3737;
    width: 100%;

}
.img_box{


    width: 50px;
    height: 50px;

}
.avatar{
    width: 130px;
    border-radius: 10px;

}
 
.contacts_box{
    display: flex;
    flex-flow: column ;

    justify-content: space-evenly;
    width: 80%;
}
.contactsItem{
margin-left: 10px;
    padding-left: 10px;
    list-style: revert;
}
.coloredFont{
    color: #ffd233;
    font-weight:lighter;
    font-size: larger;
}
.skills_box{
    display: flex;
    flex-direction: column ;
    
}
.about_me{
    width: 50%;
    flex-wrap: wrap;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffdd51;
    color: white;
    text-align: center;
    justify-content: space-evenly;
  }
.logo{
    height: 20px;
    margin-left: 10px;
}
.navigation{
    display: flex;
    flex-flow: row;
    background-color: #ffdd51;
    color: #3a3737;
    text-transform: uppercase;
    font-size: 16px;
    color: #000d15;
    text-decoration: none;
}
.nav_el{
    list-style: none;
    text-decoration: none;
    margin-left: 30px;
    text-decoration-style: dashed;
    color: #000d15;
}
.code_box{
    font-size: 10px;

    width: 70%;


}
.code_box:hover{
    width: 80%;
}
.hljs{
    font-size: 15px;
    border-color: #0a1015;
    border-radius: 10px;
}
.code_content {

    border-radius: 10px;
}


